"""
    Kora Spot Gateway Service

    Client edge for Kora spot trading: REST ingress, WebSocket hub, and market-data projections.  **MVP surface.** Day one is Limit + Market orders, GTT only, and three account tabs: holdings, open orders, fills.  Post-MVP endpoints (PnL, account value history, account events, venue stats, all-market tickers) are specified in `docs/superpowers/specs/2026-07-30-spot-gateway-openapi.yaml` and land here when they are built. That file is the design record; this one is the codegen input and the source of truth for what the service serves.  **A fill is not a trade until its state is `settled`.** Matching and settlement are separate events roughly 13-15s apart and settlement can fail. `filledQty` counts settled fills only; a client that treats matched quantity as owned inventory will be wrong for the settlement window and permanently wrong on a bust. No CEX has this property, so it is the largest porting hazard on this venue.  **The WebSocket upgrade endpoints are deliberately not in this document.** `GET /public/v1/ws` (anonymous) and `GET /api/v1/ws` (authenticated) exist and are served, but a WS session is a channel protocol, not a request/response operation — OpenAPI 3.0 cannot express its frames, and generating a handler for it produces the wrong shape, since an upgrade handler must hijack the connection rather than return a response body. They are registered as plain routes outside the generated handler. The frame-level contract is `docs/superpowers/specs/2026-07-31-spot-gateway-websocket-api.md`. `POST /api/v1/ws/ticket` below is an ordinary request and does belong here: browsers cannot set an `Authorization` header on an upgrade, so they mint a ticket and redeem it in-band. 

    The version of the OpenAPI document: 0.1.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from kora_gateway_client.models.get_internal_markets200_response import GetInternalMarkets200Response

from kora_gateway_client.api_client import ApiClient, RequestSerialized
from kora_gateway_client.api_response import ApiResponse
from kora_gateway_client.rest import RESTResponseType


class InternalApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    async def get_internal_markets(
        self,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> GetInternalMarkets200Response:
        """Market registry with operational detail.

        The same markets as `/public/v1/markets`, plus `haltCause` and `configGeneration`.  Read-only. Market definitions come from `markets.yaml`, the same file the matching engine loads, mounted into both pods from one ConfigMap — so a tick, fee or status change is a `terragrunt apply` and a restart, not an API call. One file rather than a second copy behind a write endpoint, because the engine is the component that must agree with these numbers and a hand-synced copy is the drift the venue can least afford.  Separate from the public endpoint rather than a query flag on it, because the difference is who may see it: a client needs to know a market is halted, not why. The causes name our own failure modes — `produce_failure`, `integrity_violation`, `stale_balance_view` — and publishing them tells the world when the venue is degraded and how.  Behind the Okta-gated internal ingress. `internal.anonymousPathsMatchers` is a strict allowlist and Istio ALLOW rules union, so a broad `/internal/*` entry there would defeat the JWT gate on these routes. 

        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_internal_markets_serialize(
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "GetInternalMarkets200Response",
            '503': "ErrorResponse",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        await response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    async def get_internal_markets_with_http_info(
        self,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[GetInternalMarkets200Response]:
        """Market registry with operational detail.

        The same markets as `/public/v1/markets`, plus `haltCause` and `configGeneration`.  Read-only. Market definitions come from `markets.yaml`, the same file the matching engine loads, mounted into both pods from one ConfigMap — so a tick, fee or status change is a `terragrunt apply` and a restart, not an API call. One file rather than a second copy behind a write endpoint, because the engine is the component that must agree with these numbers and a hand-synced copy is the drift the venue can least afford.  Separate from the public endpoint rather than a query flag on it, because the difference is who may see it: a client needs to know a market is halted, not why. The causes name our own failure modes — `produce_failure`, `integrity_violation`, `stale_balance_view` — and publishing them tells the world when the venue is degraded and how.  Behind the Okta-gated internal ingress. `internal.anonymousPathsMatchers` is a strict allowlist and Istio ALLOW rules union, so a broad `/internal/*` entry there would defeat the JWT gate on these routes. 

        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_internal_markets_serialize(
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "GetInternalMarkets200Response",
            '503': "ErrorResponse",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        await response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    async def get_internal_markets_without_preload_content(
        self,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Market registry with operational detail.

        The same markets as `/public/v1/markets`, plus `haltCause` and `configGeneration`.  Read-only. Market definitions come from `markets.yaml`, the same file the matching engine loads, mounted into both pods from one ConfigMap — so a tick, fee or status change is a `terragrunt apply` and a restart, not an API call. One file rather than a second copy behind a write endpoint, because the engine is the component that must agree with these numbers and a hand-synced copy is the drift the venue can least afford.  Separate from the public endpoint rather than a query flag on it, because the difference is who may see it: a client needs to know a market is halted, not why. The causes name our own failure modes — `produce_failure`, `integrity_violation`, `stale_balance_view` — and publishing them tells the world when the venue is degraded and how.  Behind the Okta-gated internal ingress. `internal.anonymousPathsMatchers` is a strict allowlist and Istio ALLOW rules union, so a broad `/internal/*` entry there would defeat the JWT gate on these routes. 

        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_internal_markets_serialize(
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "GetInternalMarkets200Response",
            '503': "ErrorResponse",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _get_internal_markets_serialize(
        self,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'bearerAuth'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/internal/config/markets',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


